/ImplRepositorioUsuarioArquivo.class
/RepositorioUsuario.class
/DataStore.class
/ArmazenamentoDados.class
/ArquivosAtomicos.class
/UsuarioMapper.class
/RepositorioUsuarioArquivo.class
/ImplRepositorioCorriddaArquivo.class
/ImplRepositorioCorridaArquivo.class
/RepositorioCorrida.class
/BaseRepositorioArquivo.class
/RepositorioOferta.class
/ImplRepositorioOfertaArquivo.class
